html {
  height: 100%;
}

body {
  margin: auto;
  height: 100%;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url(./img/1056682.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}