.inputs #pais {
    width: 75px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}

.inputs #celular {
    width: 267px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 0;
}